<!DOCTYPE html>
<html>
<head lang="ru" xmlns:th="http://thymeleaf.org">
<meta charset="UTF-8">
<title th:text="${'Изменить' + person.getFio()}">Update person</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
	<label for="fio">Введите ФИО: </label>
	<input type="text" th:field="*{fio}" id="fio"/>
	<div style="color: red" th:if="${#fields.hasErrors('fio')}" th:errors="*{fio}">FIO error</div>
	<br>
	<label for="dateOfBirth">Введите дату рождения (в формате dd.mm.yyyy): </label>
	<input type="text" th:field="*{dateOfBirth}" id="dateOfBirth"/>
	<div style="color: red" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}">Age error</div>
		
	<br/>
	<input type="submit" value="Редактировать!"/>
</form>

</body>
</html>