<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${person.getFio()}">Person</title>
</head>
<body>
	<p th:text="${person.getFio()} + ', ' + ${person.getYearOfBirth()}">Имя и возраст</p>
	
	<div  th:if="${books}">
	<p>Книги:</p>
	<p th:each="book : ${books}" 
		th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYearOfRelese()}">Книги у человека</p>
	
	</div>
	<div th:unless="${books}">
		<p>Человек пока не взял ни одной книги</p>
	</div>

	<hr>
	
	<a th:href="@{/people/{id}/edit(id=${person.getId()})}">
		<input type="button" value="Редактировать">
	</a>
	
	<br>
	<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
		<input type="submit" value="Удалить"/>
	</form>
</body>
</html>