<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Новая книга</title>
</head>
<body>

<form th:method="POST" th:action="@{/books}" th:object="${book}">
	<label for="name">Введите название книги: </label>
	<input type="text" th:field="*{name}" id="name"/>
	<div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
	
	<br>
	<label for="author">Введите автора: </label>
	<input type="text" th:field="*{author}" id="author"/>
	<div style="color: red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author error</div>
	
	<br>
	<label for="yearOfRelese">Введите год: </label>
	<input type="text" th:field="*{yearOfRelese}" id="yearOfRelese"/>
	<div style="color: red" th:if="${#fields.hasErrors('yearOfRelese')}" th:errors="*{yearOfRelese}">yearOfRelese error</div>
		
	<br/>
	<input type="submit" value="Создать"/>
</form>

</body>
</html>