<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${book.getName()}">Book</title>
</head>
<body>
	<p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYearOfRelese()}">VALUE Book</p>
	
	<div th:if="${people}">
		<p>Эта книга свободна. Кому назначить её?</p>
		<form th:method="PATCH" th:action="@{/books/{id}/asign(id=${book.getId()})}">
		<label for="person">Выберите человека </label>
		<select th:object="${person}" th:field="*{id}" id="person">
			<option th:each="person : ${people}" th:value="${person.getId()}"
			th:text="${person.getFio()}"></option>
		</select>
		<input type="submit" value="Назначить книгу">
		</form>
	</div>
	
	<div th:if="${owner}">
		<p th:text="${'Книга сейчас у ' + owner.getFio()}"></p>
		<form th:method="PATCH" th:action="@{/books/{id}/free(id=${owner.getId()})}">
		<input type="submit" value="Освободить книгу">
		</form>
	</div>
	
	<hr>
	
	<a th:href="@{/books/{id}/edit(id=${book.getId()})}">
		<input type="button" value="Редактировать">
	</a>
	
	<br>
	<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
		<input type="submit" value="Удалить"/>
	</form>
</body>
</html>